extends layout

block body
  #wrapper(ng-controller='AppCtrl')
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') ZLeaks
        ul.nav.navbar-top-links.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-user.fa-fw
              i.fa.fa-caret-down
            ul.dropdown-menu.dropdown-user
              li
                a(href='login.html')
                  i.fa.fa-sign-out.fa-fw
                  |  Sair
            
        div.navbar-default.sidebar(role='navigation')
          div.sidebar-nav.navbar-collapse
            ul#side-menu.nav
              li
                a(href='#')
                  i.fa.fa-dashboard.fa-fw
                  |  Painel de Controle
            
          br
          br
          button.btn.btn-primary.btn-lg.btn-block(id="btn-close", type='button', ng-click="updateButton()") {{button}}
      
      #page-wrapper
        div.row
          div.col-lg-12
            h1.page-header Painel de Controle
        div.row
          div.col-lg-3.col-md-6
            div.panel.panel-primary
              div.panel-heading
                div.row
                  div.col-xs-3
                    i.fa.fa-flask.fa-5x
                  .col-xs-9.text-right
                    .huge {{daywaste}} L
                    div Consumo do Dia
          //- .col-lg-3.col-md-6
          //-   .panel.panel-green
          //-     .panel-heading
          //-       .row
          //-         .col-xs-3
          //-           i.fa.fa-tasks.fa-5x
          //-         .col-xs-9.text-right
          //-           .huge 12 L
          //-           div Consumo Atual
          .col-lg-3.col-md-6
            .panel.panel-yellow
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-tint.fa-5x
                  .col-xs-9.text-right
                    .huge {{waste}}L
                    div Fluxo Atual
          .col-lg-3.col-md-6
            .panel.panel-red
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-clock-o.fa-5x
                  .col-xs-9.text-right
                    .huge {{hour}}:{{min}}
                    div Horário do Servidor
        // /.row
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                i.fa.fa-bar-chart-o.fa-fw
                |  Consumo Diário
                .pull-right
                  .btn-group
                    button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Ações
                      span.caret
                    ul.dropdown-menu.pull-right(role='menu')
                      li
                        a(href='#') Mês anterior
                      li
                        a(href='#') Mês atual
              
              div.panel-body
                div#morris-area-chart

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/jquery.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/sb-admin-2.js')
  //-script(src='js/morris-data.js')
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='bower_components/metisMenu/dist/metisMenu.min.js')
  script(src='bower_components/raphael/raphael-min.js')
  script(src='bower_components/morrisjs/morris.min.js')
