!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title ZLeaks - Your solution to prevent leaks! 
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/sb-admin-2.css')
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="bower_components/morrisjs/morris.css")
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
  body
    block body